a {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-decoration: none;
}

.nav-item {
  justify-content: space-evenly;
  flex: 1;
}

.nav-item a {
  display: block;
  text-align: center;
}

.list-item-text {
  text-transform: none;
  flex: 1;
}

.list-item {
  flex: 1;
}
