.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.col-third {
  width: 30%;
  margin-bottom: 50px;
}

.project {
  height: 250px;
  width: 350px;
}

.title {
  font-size: 24px;
  font-family: monospace;
  font-weight: 700px;
}
